* {
    margin: 0;
}

.header {
    background-color: #009B47;
    height: 100px;
    display: flex;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0;
}

.home {
    display: flex;
    font-weight: bolder;
    color: #ffffff;
    width: 700px;
    padding-top: 20px;
}

.sprite-logo {
    height: 50px;
    padding: 20px;
    padding-left: 30px;
}

.sprite-summer {
    height: 100px;
    padding-top: 50px;
}

ul {
    display: flex;
}

ul li {
    align-items: center;
    list-style: none;
    gap: 40px;
    padding-left: 40px;
    padding-top: 20px;
    color: #ffffff;
    padding-bottom: 5px;
}

ul.buy {
    margin-right: 200px;
}

.footer {
    background-color: #009B47;
}

.section1 {
    background-image: url("spritenew1.jpg");
    width: auto;
    margin: 0px;
    height: auto;
    padding-left: 50px;
    display: flex;
    padding-top: 100px;
}

.section1 button {
    margin-bottom: 100px;
}

.section1 button:hover {
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.section2 {
    background-color: #ffffff;
    height: 500px;
    display: flex;
    margin-top: 5px;
}

.text h1 {
    font-family: Arial #000000;
    font-size: 50px;
    margin-top: 45px;
}

.text p {
    font-family: Franklin Gothic Medium;
    font-size: 27px;
    margin-right: 0px;
    margin-bottom: 60px;
}

.text button {
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    font-weight: 900;
    background-color: #ffd100;
    border: none;
}

.text button:hover {
    background-color: #312e24;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.video {
    margin: 50px;
    margin-left: 100px;
}

.section3 {
    background-color: #ffffff;
    height: auto;
    display: flex;
    margin-bottom: 0;
}

.bottlepic img {
    height: 400px;
}

.lastpara {
    margin-left: 100px;
    margin-top: 0px;
    width: 550px;
    color: #009B47;
}

.lastpara h1 {
    font-size: 50px;
}

.fb,
.yt,
.tw,
.insta,
.spotify,
.person {
    padding: 10px;
    padding-top: 40px;
    height: 25px;

}

.person {
    filter: invert(100);
}

.fb {
    padding-left: 250px;
}

.fb:hover {
    filter: invert(100);
}

.yt:hover {
    filter: invert(100);

}

.tw:hover {
    filter: invert(100);

}

.insta:hover {
    filter: invert(100);

}

.spotify:hover {
    filter: invert(100);

}

.person:hover {
    filter: invert(0);

}

.celebration {
    font-size: 72px;
    font-weight: 400;
    font-style: normal;
    line-height: 86.4px;
    text-align: left;
    margin-block-end: 8px;
    width: 600px;
    color: #ffffff;
}

.section1 button {
    background-color: #ffff00;
    color: #000000;
    padding: 10px;
    font-size: medium;
    font-weight: bolder;
}

p {
    margin: 0px;
}

ul.footer-details {
    text-align: center;
    padding-left: 100px;
    padding-bottom: 50px;
    font-weight: bold;
    border-right-style: solid;
}

p.coca-cola {
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-family: 'AktivGroteskCdBlack';
}

a {
    text-decoration: none;
    color: #ffffff;
}

.aboveFooter {
    background-color: #009B47;
    height: 400px;
    margin-top: 0;
    display: flex;
}

.footerImg img {
    height: 70px;
    padding-top: 100px;
    padding-left: 250px;
}

.connect p {
    padding-top: 50px;
    padding-left: 150px;
    font-family: Franklin Gothic Medium;
    color: #ffffff;
}

.social1 {
    display: flex;
    padding-left: 145px;
    padding-top: 60px;

}

.footer-fb,
.footer-twitter,
.footer-youtube,
.footer-spotify {
    margin: 2px;
}

.social1 a:hover img {
    transform: scale(1.5);
}

.products {
    padding-top: 50px;
    padding-left: 250px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.products p {
    padding-bottom: 10px;
}

.hColor {
    color: #ffffff;
    padding-bottom: 10px;
}

a:hover {
    color: #000000;
}

.footer {
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer p a:hover {
    text-decoration: underline;
}

.footerlinks {
    background-color: #009B47;
    display: flex;
    text-align: center;
    padding: 20px;
    padding-left: 200px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}